<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>List Project Tasks</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body class="container">
	<div class="maindiv">
		<h1 class="py-3">Project tasks</h1>
		<hr class="top_22">
		<!--div th:if="${employeeId != null}" sec:authorize="hasRole('ROLE_MANAGER')"-->
		<div sec:authorize="hasRole('ROLE_MANAGER')">
			<a th:href="@{/tasks/showFormForAdd}" class="btn btn-primary mb-3">New Task</a>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Status</th>
					<th>Client</th>
					<th>Tasks</th>
					<div sec:authorize="hasRole('ROLE_MANAGER')">
						<th colspan="3">Actions</th>
					</div>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(projects)}">
					<td colspan="3">No Projects found.</td>
				</tr>
				<tr th:each="tempProject : ${projects}">
					<td th:text="${tempProject.name}"></td>
					<td th:text="${tempProject.description}"></td>
					<td th:text="${tempProject.status}"></td>
					<td th:text="${tempProject.client.name}"></td>

					<td>
						<table class="custom-table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Group</th>
									<th>Status</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th>Team</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="task : ${tempProject.tasks}">
									<td th:text="${task.name}"></td>
									<td th:text="${task.description}"></td>
									<td th:text="${task.taskGroup.description}"></td>
									<td th:text="${task.status}"></td>
									<td th:text="${task.startDate}"></td>
									<td th:text="${task.endDate}"></td>
									<td th:text="${task.team}"></td>
								</tr>
							</tbody>
						</table>
					</td>
					<div sec:authorize="hasRole('ROLE_MANAGER')">
						<td><a th:href="@{/tasks/showFormForAdd(projectId=${tempProject.id})}"
								class="btn btn-success btn-sm">Add task</a></td>
						<td><a th:href="@{/projects/showFormForUpdate(projectId=${tempProject.id})}"
								class="btn btn-info btn-sm">Edit</a></td>
						<td><a th:href="@{/projects/delete(projectId=${tempProject.id})}" class="btn btn-danger btn-sm"
								onclick=" if (!(confirm('Are you sure you want to delete this project?'))) return false">
								Delete
							</a></td>
					</div>
				</tr>
			</tbody>
		</table>
		<div class="button-container">
			<div th:if="${employeeId == null}" class="my_button">
				<a th:href="@{/}" class="btn btn-secondary mb-3">Back to homepage</a>
			</div>
			<div th:if="${employeeId != null}" class="my_button">
				<a th:href="@{/employees/showFormForUpdate(employeeId=${employeeId})}"
					class="btn btn-secondary mb-3">Back to employee form</a>
			</div>
		</div>
	</div>
	</div>
</body>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</html>