body {
  background-color: #f9f9f9;
}

.maindiv{
	margin-top:10px;
	margin-left:20px;
}

hr.top_22 {
  margin-top:22px;
}

.error{
	font-size: 14px;
	color:red;
}

.title_h1{
	font-size: 14px;
	color:#067a00;
}

.field{
	font-size: 14px;
	color:#067a00;
}

/* Styled Table */

.table {
    box-shadow: 0 0 1px #8c8c8c;
}

.before {
	margin-bottom: 1px;
}
