body {
	background-color: #f9f9f9;
}

.maindiv {
	margin-top: 1px;
	margin-left: 2px;
}

hr.top_22 {
	margin-top: 22px;
}

.error {
	font-size: 16px;
	color: red;
}

.choose_text {
	color:royalblue;
	font-size: 14px;
	font-weight: bold;
	
}

.info-msg {
	font-size: 16px;
	color: #067a00;
}

.error-msg {
	margin-top: 20px;
}

.title_h1 {
	font-size: 14px;
	color: #067a00;
}

.field {
	font-size: 14px;
	color: #067a00;
}

/* Styled Table */

.table {
	box-shadow: 0 0 1px #8c8c8c;
}

/* login form */

.login {
	background-color: #fff;
	width: 40%;
	margin: 80px auto;
	border-radius: 10px;
	padding: 20px;
	border-left: 5px solid #067a00;
	box-shadow: 0px 0px 0px 0px #3f51b5;
}

.login>.row>h2 {
	margin: auto;
}

.btn-form {
	width: 100%;
	margin-top: 20px;
}

/* my buttons */

.button-container {
	display: flex;
	justify-content: space-between;
	/* Align buttons at the left and right ends */
	align-items: center;
	/* Center the buttons vertically */
}

.button-container-side-by-side {
	
	justify-content: space-between;
	/* Align buttons at the left and right ends */
	align-items: left;
	/* Center the buttons vertically */
}

.my_button {

	border: none;
	/* Remove button borders */
	cursor: pointer;
}

.btn_0382ca{
	background-color: #0382ca;
	color:#fff;
	border-color: #0382ca
}

/* Custom table */

/* Define styles for the custom table */
.custom-table {
    border-collapse: collapse; /* Combine table cell borders */
    width: 100%; /* Set the table width to 100% */
    font-size: 14px;
}

/* Define styles for table rows */
.custom-table tr {
    background-color: #E6F6FF; /* Add a background color to alternate rows */
}

/* Define styles for table cells */
.custom-table td {
    padding: 8px; /* Add padding for better spacing */
    border: 1px solid #ddd; /* Add borders to table cells */
}

/* Define styles for table header (optional) */
.custom-table th {
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    font-weight: bold;
}


