body {
	background-color: #f9f9f9;
}

.mycontainer{
	padding-right: 15px;    
	padding-left: 15px;
}

.maindiv {
	margin-top: 1px;
	margin-left: 2px;
}

hr.top_22 {
	margin-top: 22px;
}

.error {
	font-size: 16px;
	color: red;
}

.choose_text {
	color: royalblue;
	font-size: 17px;
}


/* PROJECT state colors */

.project-canceled {background-color:tomato;}

.project-completed {background-color: lightgreen;}

.project-in-progress{background-color:darkorange;}

.list-condition-true, .condition-true {
	background-color: lightgreen;
}

.list-condition-false, .condition-false{
	background-color:lightcoral;
}

.info-msg {
	font-size: 16px;
	color: #067a00;
}

.error-msg {
	margin-top: 20px;
}

.title_h1 {
	font-size: 14px;
	color: #067a00;
}

.field {
	font-size: 14px;
	color: #067a00;
}

/* Styled Table */

.table {
	box-shadow: 0 0 1px #8c8c8c;
}

/* login form */

.login {
	background-color: #fff;
	width: 40%;
	margin: 80px auto;
	border-radius: 10px;
	padding: 20px;
	border-left: 5px solid #067a00;
	box-shadow: 0px 0px 0px 0px #3f51b5;
}

.login>.row>h2 {
	margin: auto;
}

.btn-form {
	width: 100%;
	margin-top: 20px;
}

/* my buttons */

.button-container {
	display: flex;
	justify-content: space-between;
	/* Align buttons at the left and right ends */
	align-items: center;
	/* Center the buttons vertically */
}

.button-container-side-by-side {

	justify-content: space-between;
	/* Align buttons at the left and right ends */
	align-items: left;
	/* Center the buttons vertically */
}

.my_button {

	border: none;
	/* Remove button borders */
	cursor: pointer;
}

.btn_0382ca {
	background-color: #0382ca;
	color: #fff;
	border-color: #0382ca
}

.table td, .table th {
	padding-top: .30rem;
	padding-bottom: .20rem;
}

/* Custom table */

/* Define styles for the custom table */
.custom-table {
	border-collapse: collapse;
	/* Combine table cell borders */
	width: 100%;
	/* Set the table width to 100% */
	font-size: 14px;
}

/* Define styles for table rows */
.custom-table tr {
	background-color: #E6F6FF;
	/* Add a background color to alternate rows */
}

/* Define styles for table cells */
.custom-table td {
	padding: 8px;
	/* Add padding for better spacing */
	border: 1px solid #ddd;
	/* Add borders to table cells */
}

/* Define styles for table header (optional) */
.custom-table th {
	padding: 8px;
	border: 1px solid #ddd;
	background-color: #f2f2f2;
	font-weight: bold;
}

/* MODAL CONFIRM */

.modal-confirm {
	color: #636363;
	width: 400px;
}

.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}

.modal-confirm .modal-header {
	border-bottom: none;
	position: relative;
}

.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}

.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}

.modal-confirm .modal-body {
	color: #999;
}

.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
	color: #999;
}

.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}

.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}

.modal-confirm .btn,
.modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 110px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}

.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}

.modal-confirm .btn-danger {
	background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
	background: #ee3535;
}