<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Customer form</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body class="container">
	<h1 class="py-5">Thymeleaf Form handling Demo</h1>
	<i>Fill out the form. Asterisk (*) means required.</i>
	<form method="post" th:action="@{/customers}" th:object="${customer}" class="col card p-3 mb-5">
		<div class="form-group">
			<label for="firstName">First Name (*)</label>
			<input id="firstName" placeholder="Enter First Name" type="text" th:field="*{firstName}"
				class="form-control" />
			<label for="firstName"> <!--Show error message (if present) -->
				<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></span>
			</label>
		</div>
		<div class="form-group">
			<label for="lastName">Last Name (*)</label>
			<input id="lastName" placeholder="Enter Last Name" type="text" th:field="*{lastName}"
				class="form-control" />
			<label for="lastName"> <!--Show error message (if present) -->
				<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
			</label>
		</div>
		<div class="form-group">
			<label for="courseCode">Course code</label>
			<input id="courseCode" placeholder="Enter Course Code" type="text" th:field="*{courseCode}"
				class="form-control" />
			<label for="courseCode"> <!--Show error message (if present) -->
				<span th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}" class="error"></span>
			</label>
		</div>		
		<div class="form-group">
			<label for="freePasses">Free passes (*)</label>
			<input id="freePasses" placeholder="Enter Free Passes" type="text" th:field="*{freePasses}"
				class="form-control" />
			<label for="freePasses"> <!--Show error message (if present) -->
				<span th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}" class="error"></span>
			</label>
		</div>
		<div class="form-group">
			<label for="postalCode">Postal code (*)</label>
			<input id="postalCode" placeholder="Enter Postal Code" type="text" th:field="*{postalCode}"
				class="form-control" />
			<label for="postalCode"> <!--Show error message (if present) -->
				<span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="error"></span>
			</label>
		</div>

		<input type="submit" class="btn btn-primary" value="Register Customer">
	</form>
	<table class="table table-striped table-bordered">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Course Code</th>
			<th>Free Passes</th>
			<th>Postal Code</th>
		</tr>
		<tr th:if="${#lists.isEmpty(customers)}">
			<td colspan="5">No Customers found. Add some ...</td>
		</tr>
		<tr th:each="customer : ${customers}">
			<td th:text="${customer.firstName}"></td>
			<td th:text="${customer.lastName}"></td>
			<td th:text="${customer.courseCode}"></td>
			<td th:text="${customer.freePasses}"></td>
			<td th:text="${customer.postalCode}"></td>
		</tr>
	</table>
	</div>
</body>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Custom JS -->
<script th:href="@{/js/scripts.js}" />

</html>