<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
	<title>Bitclinic Company homepage</title>
</head>

<body class="container">
	<div class="maindiv">
		<img th:src="@{/images/test.png}">
		<h2>Bitclinic Company homepage</h2>
		<hr>
		Welcome to Bitclinic Company homepage
		<hr>
		<!-- Display username and role(s) -->
		<p>Logged in user: <span sec:authentication="principal.username"></span></p>
		<p>Role (s): <span sec:authentication="principal.authorities"></span></p>
		<hr>
		<div sec:authorize="hasRole('MANAGER')">
			<p><a th:href="@{/employees/leaders}" class="btn btn-primary mb-3">Leadership Meeting (Only for
					Managers)</a>
			</p>
			<hr>
		</div>
		<div sec:authorize="hasRole('ADMIN')">
			<p> <a th:href="@{/employees/systems}" class="btn btn-primary mb-3">System tools (Only for Admins)</a></p>
			<hr>
		</div>

		<div class="button-container-side-by-side">
			<a th:href="@{/clients/list}" class="btn btn-success btn-primary">Clients</a>
			<a th:href="@{/employees/list}" class="btn btn-success btn-primary">Employees</a>
			<a th:href="@{/teams/list}" class="btn btn-success btn-primary">Teams</a>
			<a th:href="@{/projects/list}" class="btn btn-success btn-primary">Projects</a>			
			<hr>
		</div>
		<form action="#" method="post" th:action="@{/logout}">
			<input type="submit" value="Logout" class="btn btn-secondary btn-primary mb-3">
		</form>

	</div>
</body>

</html>