<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Teams</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body class="container">
	<div class="maindiv">
		<h1 class="py-3">Teams</h1>
		<hr class="top_22">
		<div sec:authorize="hasRole('ROLE_MANAGER')">
			<a th:href="@{/teams/showFormForAdd}" class="btn btn-primary mb-3">New team</a>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Created At</th>
					<th>Active</th>
					<th>Employees In Team</th>
					<div sec:authorize="hasRole('ROLE_MANAGER')">
						<th colspan="2">Actions</th>
					</div>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(teams)}">
					<td colspan="5">No teams found.</td>
				</tr>
				<tr th:each="tempTeam : ${teams}">
					<td th:text="${tempTeam.name}"></td>
					<td th:text="${tempTeam.createdAt}"></td>
					<td th:text="${tempTeam.active}"></td>
					<td th:text="${tempTeam.employees}"></td>
					<div sec:authorize="hasRole('ROLE_MANAGER')">
						<td><a th:href="@{/teams/showFormForUpdate(teamId=${tempTeam.id})}"
								class="btn btn-info btn-sm">Edit</a></td>
						<td><a th:href="@{/teams/delete(teamId=${tempTeam.id})}" class="btn btn-danger btn-sm"
								onclick=" if (!(confirm('Are you sure you want to delete this team?'))) return false">
								Delete
							</a></td>
					</div>
				</tr>
			</tbody>
		</table>
		<p><a th:href="@{/}" class="btn btn-secondary mb-3">Back to homepage</a></p>
	</div>
	</div>
</body>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Custom JS -->
<script th:href="@{/js/scripts.js}" />

</html>